* {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  font: inherit;
}

a:hover {
  text-decoration: none;
}

body {
  background: #ededed;
}

.date-post {
  float: left;
  background: blueviolet;
}

.date-non-post{
  float: right;
  background: cadetblue;
}